@font-face{
  font-family: 'Poppins';
  src: url('../fonts/Poppins/Poppins-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}
@font-face{
  font-family: 'Poppins';
  src: url('../fonts/Poppins/Poppins-Medium.ttf') format('truetype');
  font-style: normal;
  font-weight: 500;
}
@font-face{
  font-family: 'Poppins';
  src: url('../fonts/Poppins/Poppins-SemiBold.ttf') format('truetype');
  font-style: normal;
  font-weight: 600;
}
@font-face{
  font-family: 'Poppins';
  src: url('../fonts/Poppins/Poppins-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: 700;
}
@font-face{
  font-family: 'DM Sans';
  src: url('../fonts/DM_Sans/DMSans-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: 700;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: 0;
  /* background-color: rgb(84, 96, 120); */
  box-sizing: border-box;
}

body{
  background-color: rgb(255, 255, 255);
  font-size: 12px 'Poppins', Arial, sans-serif;
  font-weight: normal;
 
}

.container{
  width: 1120px;
  margin: 0 auto;
}
@media (max-width: 1120px){
  .container {
      width: 1000px;
  }
}
@media (max-width: 992px){
  .container{
      max-width: 750px;
  }
}
@media (max-width: 750px){
  .container{
      max-width: none;
  }
}
i:link {
  color: #0000d0; /* Цвет ссылок */
  padding: 2px; /* Поля вокруг текста */
}
i:hover {
  background: #9c9a96; /* Цвет фона под ссылкой */
  color: #ffe; /* Цвет ссылки */
}


.divider_1{
  display: flex;
  width: 1440px;
  gap: 10px;
  height: 1px;
  background-color:  #E6E8EC;
  margin-top: 21px;
}

