/* Feed */
/* 1.1 */
.feed{
  display: flex;
  align-items: center;
}
.feed_inner{
  width: 100%;
}
.feed_main{
  position: relative;
  display: flex;
  width: 1120px;
  height: 512px;
  margin-bottom: 128px;
}
.fuatured_item{
  display: flex;
  flex-direction: column;
  position: relative;
}
.img_containers{
  position: relative;
  margin-bottom: 10.29px;
}
.fuater_fuatered{
  position: relative;
  width: 462.52px;
  height: 446px;
  background-color: #E6E8EC;
  border-radius: 12px;

}

.avatars_fuatered{
  position: relative;
  top: 16px;
  left: 16px;
  opacity: 0;
  display: flex;
  justify-content: space-between;
  width: 104px;
  height: 32px;
}
.button_fuatered input{
  position: absolute;
  text-align: center;
  width: 66px;
  height: 16px;
  border-radius: 90px;
  border: none;
}
.hearth_fuatered{
  position: absolute;
  width: 20px;
  height: 20px;
  top: 6px;
  right: 6px;
}
.info_fuatured{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 448px;
  height: 56px;
}

/* 1.2 */
.avatar_info_fuatured{
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 376px;
  height: 56px;
  margin-top: 2px;
}
.img_cteat_frame{
  width: 48px;
  height: 48px;
  background: #E6E8EC;
  border-radius: 48px;
}
.item_name_fuatered{
  display: flex;
  width: 312px;
  height: 56px;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 16px;
}
.item_text_ft{
  height: 32px;
  font: 24px "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  line-height: 32px;
  color: #23262F;
}
.item_num_ft{
  width: 72px;
  height: 24px;
  font: 14px "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  color: #353945;
}
.bid_fuatered{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 68px;
  height: 48px;
  margin-left: 4px;
}
.bid_text_ft{
  width: 68px;
  height: 20px;
  font: 12px "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  color: #777E91;
}
.bid_label_ft{
  width: 68px;
  height: 26px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 2px solid#45B36B;
  border-radius: 4px;
  box-sizing: border-box;
}
.bid_p{
  display: flex;
  width: 52px;
  height: 12px;
  font: 12px "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 12px;
  color: #45B36B;
  text-transform: uppercase;


}


/* 2 */

.fuatured_item_list{
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 351px;
  height: 508px;
  margin-left: 20px;
}
.small_item_ft{
  display: flex;
  font-display: row;
  width: 351px;
  height: 148px;
}
.small_img_ft img{
  width: 160px;
  height: 148px;
  border-radius: 12px;
  background-color: red;
}

/* 2.1 */
.small_content_ft{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 167px;
  height: 106px;
  margin: 21px;
}
.frame_contant_ft{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 167px;
  height: 58px;
  margin-bottom: 22px;
}
.text_fr{
  width: 167px;
  height: 24px;font: 16px "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  line-height: 24px;
  color: #23262F;
  margin-bottom: 9px;
}
.text__fr{
  width: 167px;
  height: 48px;
  font: 16px "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  line-height: 24px;
  color: #23262F;
  margin-bottom: 9px;
}

.frame_info_fr{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 155px;
  height: 26px;
  gap: 11px;
}
.img_frame{
  width: 24px;
  height: 26px;
  border-radius: 48px;
  background: #9757D7;
}
.img_frame img{
  width: 24px;
  height: 24px;
  border-radius: 48px;
  background: #9757D7;
}

.bid_label_fr{
  width: 66px;
  height: 26px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 2px solid#45B36B;
  border-radius: 4px;
  box-sizing: border-box;
  margin-left: 8px;
}
.bid_p_fr{
  display: flex;
  width: 50px;
  height: 12px;
  font: 12px "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 12px;
  color: #45B36B;
  text-transform: uppercase;
}
.num_fr {
  display: flex;
  justify-content: center;
  width: 39px;
  height: 24px;
  font: 14px "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: #777E91;
  margin-left: 5px;
}
.button_frame_fr{
 display: flex;
 flex-direction: row;
 justify-content: center;
 align-items: center;
 gap: 12px;
 width: 98px;
 height: 32px;
 border: 2px solid #E6E8EC;
 border-radius: 90px;
}
.button_frame___fr{
 display: flex;
 flex-direction: row;
 justify-content: center;
 align-items: center;
 gap: 12px;
 width: 98px;
 height: 32px;
 border: 2px solid #E6E8EC;
 border-radius: 90px;
 margin-top: 15px;
}
.button_frame__fr{
  display: flex;
 flex-direction: row;
 justify-content: center;
 align-items: center;
 gap: 12px;
 width: 98px;
 height: 32px;
 border: 2px solid #3772FF;
 border-radius: 90px;
 background-color: #3772FF;
}

.button_frame_fr label {
  display: flex;
  justify-content: center;
  width: 74px;
  height: 16px;
  font: 14px "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  color: #23232F;
  
}

/* 2.3 */
.vl{
  width: 1px;
  height: 512px;
  border-left: 3px solid #E6E8EC;
  margin-left: 48px;
}

/* 2.4 */
.fuatered_creators{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 224px;
  height: 487px;
  margin-left: 32px;
}

.creators_text p{
  display: flex;
  justify-content: center;
  width: 185px;
  height: 20px;
  font: 12px "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  color: #777E91;
}
.creator_main{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 224px;
  height: 467px;
}
.creators_form{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 224px;
  height: 105px;
  border-bottom: 1px solid #E6E8EC;
}
.creators__form{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 224px;
  height: 105px;
}

.creators_list{
  display: flex;
  flex-direction: row;
  align-items: center;
  
}
.creators__list{
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.user_frame{
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
  width: 224px;
  height: 56px;
}
.user__frame{
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
  width: 224px;
  height: 56px;
  margin-bottom: 47px;
}    

.user_img_fr{
  width: 56px;
  height: 56px;
}

.user_avatar_name{
  width: 56px;
  height: 56px;
  border-radius: 48px;
}
.user_avatar_name img{
  width: 56px;
  height: 56px;
  background: #9757D7;
  border-radius: 48px;
}
.user_avatar_name_ab img{
  width: 56px;
  height: 56px;
  background: #E6E8EC;
  border-radius: 48px;
}
.user_avatar_name_jw img{
  width: 56px;
  height: 56px;
  background: #EF466F;
  border-radius: 48px;
}
.user_avatar_name_ll img{
  width: 56px;
  height: 56px;
  background: #FFD166;
  border-radius: 48px;
}


.user_cyrcle_fr{
  position: relative;
  left: -4px;
  top: 24px;
  width: 24px;
  height: 24px;
  box-sizing: border-box;
  border:  2px solid #FCFCFD;
  background: #23232F;
  color: white;
  border-radius: 64px;
  gap: 10px;
  
}
.user_num_fr{
  height: 20px;
  font: 12px "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  line-height: 20px;
  color: #FCFCFD;
  text-align: center;
  align-items: center;
}

/* TEXT-BLOCK */
.user_text_fr{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
  gap: 2px;
  width: 152px;
  height: 46px;
  margin-left: 16px;
}

.user_info_fr{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 4px;
  width: 152px;
  height: 24px;
  margin-top: 29px;
}

.text_name{
  width: 50px;
  height: 24px;
  font: 14px "Poppins" sans-serif;
  font-weight: 500;
  font-style: normal;
  line-height: 24px;
  color: #23262F;
}
.text_lastname{
  width: 42px;
  height: 24px;
  font: 14px "Poppins" sans-serif;
  font-weight: 500;
  font-style: normal;
  line-height: 24px;
  color: #23262F;
  margin-left: 4px;
}
.text_name_ab{
  width: 38px;
  height: 24px;
  font: 14px "Poppins" sans-serif;
  font-weight: 500;
  font-style: normal;
  line-height: 24px;
  color: #23262F;
}
.text_lastname_ab{
  width: 30px;
  height: 24px;
  font: 14px "Poppins" sans-serif;
  font-weight: 500;
  font-style: normal;
  line-height: 24px;
  color: #23262F;
  margin-left: 4px;
}
.text_name_ll{
  width: 48px;
  height: 24px;
  font: 14px "Poppins" sans-serif;
  font-weight: 500;
  font-style: normal;
  line-height: 24px;
  color: #23262F;
}
.text_lastname_ll{
  width: 48px;
  height: 24px;
  font: 14px "Poppins" sans-serif;
  font-weight: 500;
  font-style: normal;
  line-height: 24px;
  color: #23262F;
  margin-left: 4px;
}
.text_name_jm{
  width: 45px;
  height: 24px;
  font: 14px "Poppins" sans-serif;
  font-weight: 500;
  font-style: normal;
  line-height: 24px;
  color: #23262F;
}
.text_lastname_jm{
  width: 59px;
  height: 24px;
  font: 14px "Poppins" sans-serif;
  font-weight: 500;
  font-style: normal;
  line-height: 24px;
  color: #23262F;
  margin-left: 4px;
}

.user_price_fr{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 2px;
  width: 152px;
  height: 20px;
}
.price_fr{
  width: 34px;
  height: 20px;
  font: 12px "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  color: #353945;
}
.price_val{
  width: 21px;
  height: 20px;
  font: 12px "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  color: #777E91;
  margin-left: 2px;
}

.user_button{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 158px;
  height: 40px;
  border: 2px solid #E6E8EC;
  border-radius: 90px;
}
.user_button label{
 width: 98px;
 height: 16px;
 font: 14px "DM Sans", sans-serif;
 font-style: normal;
 font-weight: 700;
 line-height: 16px;
 color: #23262F;
}

.user_icon_fr i {
  position: relative;
  width: 9px;
  height: 6px;
  color: #23262F;
  margin-left: 12px;
}