.nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  gap: 167px;
  margin: 0;
  width: 100%;
}

.nav_link{
  display: flex;
  justify-content: space-between;
}
.link{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 362px;
  height: 40px;
}
.links_logo {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.links_logo li{
  display: flex;
  justify-content: flex-end;
  text-decoration: none ; 
}

.links_logo img {
  position: relative;
  display: block;
  width: 200px;
  height: 80px;
  margin-bottom: 20px;
}
.links_logo p{
  position: absolute;
  display: flex;
  width: 86px;
  height: 32px;
  font: 24px 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: -0.02em;
  margin-top: 20px;
  }
.links_logo a{
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  font: 14px 'DM Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  margin-top: 30px;
  }
.text-a a{
  width: 59px;
  height: 16px;
  color: #23262F;
  margin-left: 32px;
}  
.text-b a{
  width: 79px;
  height: 16px;
  color: #777E91;
  margin-left: 32px;
}  

.link-2{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 24px;
  width: 573px;
  height: 40px;
}

.links_searh{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 256px;
  height: 40px;
  border-radius: 9px;
  box-sizing: border-box;
  border:2px solid #E6E8EC;
  margin-bottom: 21px;
}
.links_searh label{
  display: flex;
  align-items: center;
  width: 43px;
  /* height: 20px; */
  font: 12px "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  color: #777E91;
  margin-left: 16px;

}

.icions_search{
  width: 17px;
  height: 17px;
  color: #777E90;
  margin-right: 16px;
}
.links_icons i{
  width: 24px;
  height: 24px;
  color: #777E90;
  align-items: center;
  margin-bottom: 21px;
}
.link-2 a {
  justify-content: space-between;
  box-sizing: border-box;
  /* border: 2px solid #E6E8EC; */
  /* color: #23262F; */
  text-decoration: none;
}
.buttons{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  gap: 12px;
  width: 229px;
  height: 40px;
  margin-bottom: 21px;
}
.btn-1{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12px;
  width: 80px;
  height: 40px;
  border-radius: 90px;
  background-color: #3772FF;
}
.btn-1 a{
  font: 14px "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  color: white;
  border-color: #3772FF;
}
.btn-2{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12px;
  width: 137px;
  height: 40px;
  border-radius: 90px;
  background-color: #E6E8EC;
}
.btn-2 a{
  display: flex;
  justify-content: space-between;
  font: 14px "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  color: #23262F;
  border-color: #E6E8EC;
}

.vl-01{
  width: 2px;
  height: 40px;
  background-color: red;
  margin-left: 32px;
  margin-top: 20px;
}

.divider_1{
  width: 1440px;
  gap: 10px;
  height: 1px;
  background-color: #3772FF;
}