/* Content*/

.content{
  display: flex;
  align-items: center;
  height: 128px;
  margin-bottom: 128px;
}

.content_inner{
  width: 100%;
}

.content_item{
  width: 736px;
  margin: 0 auto;
  text-align: center;
  color: black;
}

.caption{
  font: 12px 'Poppins', sans-serif;
  font-weight: 700;
  line-height: 12px;
  color: #777E90;
  margin-top: 128px;
}

.content_item h2 {
  font: 40px 'DM Sans', sans-serif;
  font-weight: 700;
  line-height: 48px;
  color: #23262F;
  margin-top: 8px;
}


/* Auction */


.auction{
  display: flex;
  align-items: center;
  background:burlywood;
}

.auction_inner{
  width: 100%;
  padding-top: 128px;
}

.auction_video{
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
  max-width: 1110px;
  padding-bottom: 130px;
  justify-content: space-between;
  
}

.video{
  display: flex;
  /* align-items: center; */
  /* max-width: 970px; */
  max-height: 430px;
  margin: 0;
  position: relative;
}

.video_img{
  display: block;
  width: 624px;;
}


.video_play{
  position: relative;
}