/* Profile page */

.profile{
  display: flex;
  align-items: center;
}
.profile_p_inner{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.coner_main{
  position: relative;
  display: flex;
  justify-content: center;
  width: 1440px;
  height: 326px;
  background: url('/img/Profile/img.png')no-repeat center;
  background-size: cover;
}

.action_butons{
  position:absolute;
  top: 254px;
  right: 159px;
  display: flex;
  flex-direction: row;
  width: 321px;
  height: 40px;
}

.btn_1 button{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 40px;
  padding: 12px 16px;
  gap: 12px;
  border-radius: 90px;
  border: 1px solid #777E90;
  background-color: transparent;
}
.btn_2 button{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 40px;
  padding: 12px 16px;
  gap: 12px;
  border-radius: 90px;
  border: 1px solid #777E90;
  background-color: transparent;
  margin-left: 10px;
}

.btn_1 a{
  width: 112px;
  height: 16px;
  font: 14px 'Dm Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  text-align: center;
  color: #FCFCFD;
  text-decoration: none;
}
.btn_2 a{
  width: 74px;
  height: 16px;
  font: 14px 'Dm Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  text-align: center;
  color: #FCFCFD;
  text-decoration: none;
}

.icon_pp{
  display: flex;
  flex-direction: row;
  width: 16px;
  height: 16px;
  color: #FCFCFD;
}

/* 2 */

.profile_p_main{
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0;
  gap: 64px;
  width: 1120px;
  height: 746px;
}

.profile_pp{
  position:absolute;
  bottom: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px;
  gap: 48px;
  width: 256px;
  background: #FCFCFD;
  box-sizing: border-box;
  border: 1px solid #E6E8EC;
  box-shadow: 0 40px 32px -24px rgba(15
, 15, 15, 0.12);
  border-radius: 16px;
  margin-bottom: 35px;
}

.person_date{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  gap: 24px;
  width: 186px;
}

.avatar_pp{
  display: flex;
  width: 160px;
  height: 160px;
  background: #45B26B;
  border-radius: 128px;
}
.avatar_pp img{
  width: 160px;
  height: 160px;
  border-radius: 128px;
}

.info_page{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  gap: 20px;
  width: 186px;
}

.pp_info{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  gap: 4px;
  width: 156px;
}

.fio{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0;
  gap: 4px;
  height: 32px;
}

.fio p{
  height: 32px;
  font: 24px 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  text-align: center;
  color: #23262F;
}

.address{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0;
  gap: 8px;
  /* height: 156px; */
}
.address p{
  height: 16px;
  font: 14px 'DM Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  color: #23262F;
}
.icon_address i{
  width: 16px;
  height: 16px;
  color: #3772FF;
}

.text_pp{
  display: flex;
  align-items: center;
  text-align: center;
  width: 186px;
  height: 60px;
  font: 12px 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  color: #777E90;
}

.btn_address button{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0;
  gap: 8px;
  width: 122px;
  height: 16px;
  border: none;
  background: white;
}
.btn_address a{
  height: 16px;
  font: 14px 'DM Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  color: #23262F;
  text-decoration: none;
}

.icon_plane{
  color: #777E90;
  width: 16px;
  height: 16px;
}

.btns_pp{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0;
  gap: 8px;
  width: 171px;
  /* height: 40px; */
}
.btns_pp button{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 16px;
  gap: 12px;
  width: 75px;
  height: 40px;
  background: #3772FF;
  border-color: #3772FF;
  border-radius: 90px;
}
.btns_pp a{
  height: 16px;
  font: 14px 'DM Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  color: #FCFCFD;
  text-decoration: none;
}

.icon_spend{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 10px;
  gap: 10px;
  width: 40px;
  height: 40px;
  box-sizing: border-box;
  border: 1px solid #E6E8EC;
  border-radius: 40px;
  text-align: center;
}
.icon_spend{
 color: #777E90;

}

.social_icon{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 24px;
  width: 108px;
  height: 20px;
}
.social_icon i{
  width: 20px;
  height: 20px;
  color: #777E90;
}

.div_pp{
  width: 199px;
  height: 1px;
  background: #98a7c5;
}

.date_pp{
  width: 186px;
  height: 20px;
  font: 12px 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  color: #777E90;
  display: flex;
  align-items: center;
  text-align: center;
}

/* 2.1 */

.profile_items_pp{
  position: relative;
  left: 330px;
  gap: 32px;
  width: 800px;
}

.sub_navigation_item{
  position: absolute;
  top: 71px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 0;
  gap: 12px;
  height: 28px;
  margin-left: 24px;
}
.sub_navigation_item a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 6px 12px;
  gap: 10px;
  height: 26px;
  background: #353949;
  border-radius: 100px;
  color: #FCFCFD;
  text-decoration: none;
}
.sub_navigation_list{
  height: 16px;
  font: 14px 'DM Sans',sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: #777E91;
  list-style: none;
  padding: 10px;
}

/* 2.2 */

.discovery_items{
  position: absolute;
  top: 130px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0;
  gap: 32px;
  width: 800px;
  height: 450px;
  margin-left: 36px;
}
